.challengeBoxContainer{
    height: 100%;

    background: var(--white);
    border-radius: 5px;
    box-shadow: 0 0 0.5px;
    padding:1.5rem 2rem;    

    display: flex;
    flex-direction: column;
    align-items: center; /*centraliza horitonzal elementos*/
    justify-content: center; /*centraliza vertical*/

    text-align: center; 
}

.challengeNotActive{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.challengeNotActive strong{
    font-size:  1.5rem;
    font-weight: 500;
    line-height: 1.4;  /*Altura da caixa de caracter*/
}

.challengeNotActive p {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.4;
    max-width: 70%;
    margin-top: 3rem;
}

.challengeNotActive p img{
   margin-bottom: 1rem;
}
.challengesActive{
 height: 100%;

 display: flex;
 flex-direction: column;
}

.challengesActive header{
   color:var(--blue);
   font-weight: 600;
   font-size: 1.25rem;
   padding: 0 2rem 1.5rem;
   border-bottom: 1px solid var(--gray-line);
   }

.challengesActive main{
    background: blue;
    flex:1;
}

.challendeFailedButton{


}

.challengeSucceededButton{

}
/**/